//- bower:css
link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
//- endbower
//- bower:js
script(src='/lib/jquery/dist/jquery.js')
script(src='/lib/bootstrap/dist/js/bootstrap.js')
//- endbower
//- inject:css
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/styles.css")
//- endinject
//- inject:js
script(src="/js/bootstrap.min.js")
//- endinject

html
    head
        title Myapp
    body(class = "MyClass")
        h1(id = "MyId") Myapp
        p
            h3 sub Heading
            ul
                each val in list
                    li= val